In [18]:
import pandas as pd

courses_df = pd.read_csv("/Users/liuzhiying/Desktop/GBA424_Analytics Design and Application/coursework/case1/nls_courses.csv")
employees_df = pd.read_csv("/Users/liuzhiying/Desktop/GBA424_Analytics Design and Application/coursework/case1/nls_employees.csv")
local_offices_df = pd.read_csv("/Users/liuzhiying/Desktop/GBA424_Analytics Design and Application/coursework/case1/nls_local_offices.csv")

In [19]:
enrollment_df = pd.read_csv("/Users/liuzhiying/Desktop/GBA424_Analytics Design and Application/coursework/case1/nls_enrollment.csv", 
                                encoding='ISO-8859-1', 
                                on_bad_lines='skip')

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

In [2]:
print(courses_df.head())
print(courses_df.describe())

   Course_ID                                      Course_Title  \
0        101                     Logistics Software Essentials
1        102                                     Intro to NERP
2        103       Advanced Warehouse Management Systems (WMS)
3        104  Advanced Transportation Management Systems (TMS)
4        105              Supply Chain Optimization Strategies

                                  Course_Description  Hours  \
0  An introductory course covering the basics of ...      8
1  A comprehensive overview of Nexus Enterprise R...      6
2  An in-depth course on advanced features of WMS...     10
3  An in-depth course on optimizing transportatio...     10
4  An advanced course focused on designing and im...     24

                                  Materials
0  Course Handbook, TMS/WMS Software Access
1        NERP Software Access, Course Notes
2              Advanced WMS Software Manual
3   TMS Optimization Guide, Software Access
4   Supply Chain Case Studies, Course Notes
        Course_ID     Hours
count   10.000000  10.00000
mean   520.500000  11.20000
std    441.288329   5.49343
min    101.000000   6.00000
25%    103.250000   8.00000
50%    503.000000  10.00000
75%    903.500000  13.75000
max    992.000000  24.00000

In [6]:
print(employees_df.head())
print(employees_df.describe())

   Employee_ID  Office_ID First_Name Last_Name Job_Title Pay_Grade Department  \
0       128371         23        XXX       XXX       XXX       XXX        XXX
1       128372         30        XXX       XXX       XXX       XXX        XXX
2       128376          8        XXX       XXX       XXX       XXX        XXX
3       128383         27        XXX       XXX       XXX       XXX        XXX
4       128445         46        XXX       XXX       XXX       XXX        XXX

  Supervisor_ID Hire_Date Employment_Status Termination_Date
0           XXX       XXX               XXX              XXX
1           XXX       XXX               XXX              XXX
2           XXX       XXX               XXX              XXX
3           XXX       XXX               XXX              XXX
4           XXX       XXX               XXX              XXX
         Employee_ID     Office_ID
count   25119.000000  25119.000000
mean   499607.679008     23.568096
std    214895.222653     12.815055
min    128371.000000      1.000000
25%    313620.500000     12.000000
50%    498608.000000     25.000000
75%    684650.500000     33.000000
max    874217.000000     46.000000

In [7]:
print(local_offices_df.head())
print(local_offices_df.describe())

   Office_ID  Regional_Center_ID          Office_Name      Address_Line1  \
0          1                 101          Miami Local       79 Trade Ave
1          2                 101      Baltimore Local   4 Harborfront Dr
2          3                 101       New York Local        500 5th Ave
3          4                 102        Seattle Local    2884 Fordham St
4          5                 102  San Francisco Local  101 Pino Verde Dr

            City State_Province Postal_Code Country    Phone_Number  \
0          Miami             FL       33101     USA  1-305-555-1234
1      Baltimore             MD       21201     USA  1-410-555-2345
2       New York             NY       10001     USA  1-212-555-7890
3        Seattle             WA       98101     USA  1-206-555-3456
4  San Francisco             CA       94101     USA  1-415-555-4567

              Email_Address Office_Manager Opening_Date     Time_Zone  \
0      miami.office@nls.com  Anu Prabhakar    3/15/2010  Eastern Time
1  baltimore.office@nls.com    Robert Chen    6/20/2012  Eastern Time
2         ny.office@nls.com       John Doe    2/10/2010  Eastern Time
3    seattle.office@nls.com     Linda Park    11/5/2008  Pacific Time
4         sf.office@nls.com      Donna Fox     9/1/2009  Pacific Time

   Latitude  Longitude
0   25.7617   -80.1918
1   39.2904   -76.6122
2   40.7128   -74.0060
3   47.6062  -122.3321
4   37.7749  -122.4194
       Office_ID  Regional_Center_ID   Latitude   Longitude
count  46.000000           46.000000  46.000000   46.000000
mean   23.500000          249.934783  26.333826  -12.579209
std    13.422618          112.797045  22.760272   84.412351
min     1.000000          101.000000 -34.603700 -122.419400
25%    12.250000          128.250000  13.967100  -79.476675
50%    23.500000          252.000000  32.641300  -26.446800
75%    34.750000          303.000000  43.321100   59.911325
max    46.000000          403.000000  53.349800  139.691700

In [8]:
print(enrollment_df.head())
print(enrollment_df.describe())

NameError: name 'enrollment_df' is not defined

In [5]:
enrollment_df.rename(columns={"Course": "Course_ID"}, inplace=True)

enrollment_course_df = pd.merge(enrollment_df, courses_df, on="Course_ID", how="left")
print(enrollment_course_df.head())

NameError: name 'enrollment_df' is not defined